.selected  {
  background-color: greenyellow;
}
.change-display {
  padding: 5px 10px;
}

#controllers-wrapper {
  margin: 0 auto;
  width: 300px;
}

table#hosts {
  margin: 0 auto;
}

tr.active td {
  background-color: green;
}